.root {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 92px;
  font-weight: 900;
  background: linear-gradient(45deg, #ffd700, #ff6b00, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  grid-column: span 3;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.content {
  p {
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
  }

  a {
    color: #ff6b00;
    transition: all 0.4s;

    &:hover {
      color: #ff0000;
    }
  }
}
