.root {
  width: 100%;
  padding: 24px 32px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 24px;
  justify-self: end;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.4s;

    &:hover {
      color: #e11f2d;
    }
  }
}
