.root {
  width: 100%;
  height: 100vh;
}

.title {
  font-size: 92px;
  font-weight: 900;
  background: linear-gradient(45deg, #ffd700, #ff6b00, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  grid-column: span 3;
  text-transform: uppercase;
}

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 24px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.imgWrapper {
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    will-change: transform, opacity, scale;
  }
}
