.root {
  width: 100%;
  height: 100vh;
}

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 24px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.imgWrapper {
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
