.wrapper1 {
  width: 100%;
  height: 300dvh;
  position: relative;
}

.text1 {
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100px;

  h1 {
    font-size: 92px;
    color: #fff;
    text-align: center;
  }
}

.text2 {
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 150vh;
  left: calc((80vw - 800px) / 2);
  transform: translateY(-50%);

  p {
    font-size: 42px;
    color: #fff;
  }
}

.text3 {
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 250vh;
  right: calc((80vw - 800px) / 2);
  transform: translateY(-50%);

  h3 {
    font-size: 52px;
    color: #fff;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 32px;
    color: #fff;
    margin-bottom: 1em;
  }
}

.section {
  width: 100%;
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.section1 {
  background: #000;
  background: linear-gradient(#c02425, #f0cb35);
  // background: linear-gradient(#dd1818, #000);

  text-align: center;
}

.wrapper2 {
  width: 100%;
  height: 300dvh;
}

.section2 {
  // background: linear-gradient(#000 80%, #dd1818);
  // background: linear-gradient(#dd1818, #000);
  background: #000;

  h1 {
    opacity: 0;
    transform: translateX(0);
    position: relative;
    will-change: transform, opacity;
    margin: 0;
    left: 0;
    transform-origin: left center;
  }
}

.wrapper3 {
  width: 100%;
  height: 300dvh;
}

.section3 {
  background: cyan;
}
