:root {
  --page-width: 1200px;
}

.wrapper1 {
  width: 100%;
  height: 300dvh;
  position: relative;
}

.content {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
}

.contentInner {
  max-width: var(--page-width);
  width: 100%;
  margin: auto;
  padding: 20px;
}

.content1 {
  top: 100px;

  h1 {
    font-size: 92px;
    color: #fff;
    text-align: center;
  }
}

.content2 {
  top: 150vh;
  transform: translateY(-50%);
}

.content2Inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  justify-items: start;
}

.text2 {
  max-width: 66%;

  p {
    font-size: 42px;
    color: #fff;
  }
}

.content3 {
  top: 250vh;
  transform: translateY(-50%);
}

.content3Inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: end;
  justify-items: end;
}

.text3 {
  max-width: 75%;

  h3 {
    font-size: 52px;
    color: #fff;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 32px;
    color: #fff;
    margin-bottom: 1em;
  }
}

.section {
  width: 100%;
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.section1 {
  background: #000;
  background: linear-gradient(#c02425, #f0cb35);
  // background: linear-gradient(#dd1818, #000);

  text-align: center;
}

.wrapper2 {
  width: 100%;
  height: 300dvh;
}

.section2 {
  // background: linear-gradient(#000 80%, #dd1818);
  // background: linear-gradient(#dd1818, #000);
  background: #000;

  h1 {
    opacity: 0;
    transform: translateX(0);
    position: relative;
    will-change: transform, opacity;
    margin: 0;
    left: 0;
    transform-origin: left center;
  }
}

.wrapper3 {
  width: 100%;
  height: 300dvh;
}

.section3 {
  background: cyan;
}
