.wrapper1 {
  width: 100%;
  height: 300dvh;
}

.section {
  width: 100%;
  height: 100dvh;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.section1 {
  background: rebeccapurple;
}

.wrapper2 {
  width: 100%;
  height: 300dvh;
}

.section2 {
  background: blanchedalmond;

  h1 {
    opacity: 0;
    transform: translateX(0);
    position: relative;
    will-change: transform, opacity;
    margin: 0;
    left: 0;
    transform-origin: left center;
  }
}

.wrapper3 {
  width: 100%;
  height: 300dvh;
}

.section3 {
  background: cyan;
}
